{% extends 'a_users/layout.html' %}
{% load static %}


{% block body %}

    <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="bg-light p-4 border border-3 border-primary border-opacity-25 rounded shadow w-100 h-auto" style="max-width: 700px;max-height: 500px;">
                <h1 class="text-center fs-1">Email Sender Login</h1>

                <div class="border rounded p-3 mb-5 mt-3">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% for error in form.password.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

