{% extends 'a_app/layout.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'a_users/login.js' %}"></script>
{% endblock%}

{% block style %}
    <link rel="stylesheet" href="{% static 'a_users/style.css' %}">
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="bg-light p-4 border border-3 border-primary border-opacity-25 rounded shadow w-100 h-auto" style="max-width: 700px;max-height: 500px;">
                <h1 class="text-center fs-1">Email Sender Login</h1>

                <div class="border rounded p-3 mb-5 mt-3">
                    <form action="{% url 'login' %}" method="post" id="login-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            <div id="username_message" class="form-text text-danger mt-1"></div>
                        </div>

                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

