{% extends 'a_app/layout.html' %}
{% load static %}
{%  block script %}
    <script src="{% static 'a_users/otp.js' %}"></script>
    <script src="{% static 'a_users/password.js' %}"></script>
{%  endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'a_users/style.css' %}">
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="bg-light p-4 border border-3 border-primary border-opacity-25 rounded shadow w-100 h-auto" style="max-width: 700px;max-height: 650px;">
                <h1 class="text-center fs-1">Email Sender Register</h1>

                <div class="border rounded p-3 mb-5 mt-3">
                    <form action="{% url 'register' %}" method="post" id="registering_form">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            <div id="username_message" class="form-text text-danger mt-1"></div>
                        </div>

                        <div class="row">
                            <!-- Left side: Email form -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                    <button type="button" id="verify_email" class="btn btn-outline-success mt-2">Verify Email</button>
                                    <div id="email_message" class="form-text text-success mt-1"></div>
                                </div>
                            </div>

                            <!-- Right side: OTP form -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.otp.label_tag }}
                                    {{ form.otp }}
                                    <button type="button" id="verify_otp" class="btn btn-outline-primary mt-2 disabled">Submit OTP</button>
                                    <div id="otp_message" class="form-text text-success mt-1"></div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            <div id="password_message" class="form-text text-danger mt-1"></div>
                        </div>

                        <div class="mb-3">
                            {{ form.confirm_password.label_tag }}
                            {{ form.confirm_password }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100" id="registering_button">Register</button>
                        <p class="text-center fw-medium">
                          Already have an account?
                          <a href="{% url 'login' %}">Log in here</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
{% endblock %}

